body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.search-section {
    margin-bottom: 20px;
}

.btn-container {
    margin-top: 20px;
    width: 99%;
    text-align: center;
}

#search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    width: 95%;
}

#search-button, #random-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-left: 5pxd;
}

#search-button:hover {
    background-color: #0056b3;
}

.pokemon-info {
    text-align: center;
}

.pokemon-info h1 {
    margin-bottom: 10px;
}

.pokemon-info p {
    margin: 5px 0;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.stats p {
    width: 48%;
    margin: 5px 0;
    padding: 5px;
    background-color: #f9f9f9;
    border-radius: 4px;
    box-sizing: border-box;
}

#fetch-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#fetch-div img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
